{% extends 'admin_base.html' %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Orders</h4>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>Customer</th>
                                <th>Total</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td>{{ order.order_number }}</td>
                                    <td>Email: {{ order.user.username }} </br> Address: {{ order.shipping_address }} </td>
                                    <td>₹ {{ order.total_amount }}</td>
                                    <td>{{ order.get_status_display }}</td>
                                    {% if order.is_completed %}
                                        <td></td>
                                    {% else %}
                                        <td><a href="{% url 'admin_complete_order' order.id %}"><button class="btn btn-primary">Complete</button></a></td>
                                    {% endif %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}